@tailwind base;
@tailwind components;
@tailwind utilities;
.vaga-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #ffffff;
  font-weight: 700;
  font-size: 10px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 0 0 2px rgba(0, 0, 0, 0.8);
  padding: 0 !important;
}

.vaga-tooltip::before {
  display: none;
}